<template>
<h1>Capsource Dashboard</h1>
    <div class="dash">
        <div class="btns" style = "position:relative; top:100px; right:75px;">
           <button class="b">Browse Case Assessments</button>
           <button class="b">Browse Internships</button>
           <button class="b">Explore Mentor Directory</button>
           <button class="b">Join Course</button>
        </div>
    </div>   
</template>


<script>

export default {

  name: 'DashboardHome',
  props: {
    msg: String
  }
}

</script>

<style>


.dash{
    color: rgb(201, 196, 196);
}

.h1{
    color: black;
}

.b {
  margin-right: 4px;
  background-color: rgb(243, 141, 7); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

</style>