<template>
    <div class="survey">
        <h1>Surveys Page</h1>
        <button id="begin" type="button" style= "margin-right: 4px; background-color: rgb(243, 141, 7); border: none;color: white;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 12px;" v-on:click="read">Show Pending Surveys</button>
    </div>
    <div id="detail" style="visibility: hidden">
    </div>
    <div id="list" style="visibility: hidden">

    </div>
    <div id="submit" style="visibility: hidden">
        <button id="end" type="button" v-on:click="submit"> Submit </button>
    </div>

</template>



<script>

export default {

  name: 'SurveyList',
  props: {
    msg: String
  },
  methods: {
      read: function() {
          document.getElementById("begin").style.visibility = "hidden";
          let uri = "https://api.surveymonkey.net/v3/surveys";
          fetch(uri, { method: 'GET',
                       headers: {
                          Authorization: 'bearer rJOLXwrwqRRUrgYpqlqDVMOO.wBYgtnZRQg0WN9h1i489zo2ZK9jJil-C-lmilaqoRjD-g-MYpr4vTkL.1mElvYSCY7UOYzHA2B2qVKINKZ2zG-ZOl9QmkbFJSA83quc',
                       },
                       contentType: 'application/json'
                      })
          .then(res => res.json())
          .then(function (data) {
             let inner = "";
             document.getElementById("list").style.visibility = "visible";
             for(let i=0; i<data.data.length;i++){
                 inner = inner + "<li>" + data.data[i].id + "    " + data.data[i].title + "</li> <button id=\"start\" value=" + data.data[i].id + " style=\"margin-right: 4px;background-color: rgb(243, 141, 7); border: none;color: white;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 12px;\">Begin</button>";
             }
             //inner = inner + "<button id=\"start\" type=\"button\" v-on:click=\"startSurvey(505844090)\">Begin Test</button>"
             document.getElementById("list").innerHTML = inner;
             document.addEventListener('click', function(e){
                if(e.target && e.target.id== 'start'){
                    let uri = "https://api.surveymonkey.net/v3/surveys/" + e.target.value + "/details";
                    fetch(uri, { method: 'GET',
                                headers: {
                                    Authorization: 'bearer rJOLXwrwqRRUrgYpqlqDVMOO.wBYgtnZRQg0WN9h1i489zo2ZK9jJil-C-lmilaqoRjD-g-MYpr4vTkL.1mElvYSCY7UOYzHA2B2qVKINKZ2zG-ZOl9QmkbFJSA83quc',
                                },
                                contentType: 'application/json'
                                })
                    .then(res => res.json())
                    .then(function (data) {
                        let inner = "";
                        document.getElementById("detail").style.visibility = "visible";
                        document.getElementById("submit").style.visibility = "visible";
                        inner = inner + "<h1>"+data.title+"</h1>";
                        document.getElementById("begin").style = "display:none";
                        document.getElementById("list").style = "display:none";
                        let questions = data.pages[0].questions;
                        for(let i=0;i<questions.length;i++){
                            inner = inner + "<input className=\"question\" id=\"q"+i+"\" type=\"textarea\" size=\"100\" readOnly={true} style=\"border:0\" value = \""+questions[i].headings[0].heading+"\"/><br/><br/>";
                            if(questions[i].family=="open_ended"){
                                //app.types[i] = "open_ended";
                                inner = inner + "<input className=\"answer\" id=\"a"+i+"\" type=\"textarea\" size=\"100\"/><br/><br/>"
                            }
                            else if(questions[i].family=="single_choice"){
                            if(questions[i].subtype=="menu"){
                                //app.types[i] = "menu";
                                let inner_menu = "<option>Please choose one of school</option>";
                                for(let j = 0;j<questions[i].answers.choices.length;j++){
                                    inner_menu+="<option>"+questions[i].answers.choices[j].text+"</option>";
                                }
                                    inner = inner + "<select className=\"answer\" id=\"a"+i+"\">"+inner_menu+"</select><br/><br/>"
                            }
                            else if(questions[i].subtype=="vertical"){
                                //app.types[i] = "vertical";
                                for(let j=0;j<questions[i].answers.choices.length;j++){
                                    inner = inner + "<input className=\"answer\" type=\"radio\" value=\"a\" name=\"t1\"/>"+questions[i].answers.choices[j].text;
                                }
                                    inner = inner + "<br/><br/>";
                                }
                            }
                        }
                        document.getElementById("detail").innerHTML = inner;
                    });
                }
            });
          });
      }
  }

}



</script>

<style>


.list{
    text-align: "left";
}

</style>