<template>
    <div class ="sidebar" :style="{width: sidebarWidth }">
        <h1>
            <span v-if="collapsed">
                <div>C</div>
                <div>S</div>
            </span>
            <span v-else> CapSource Connect </span>
        </h1>
        <SidebarLink to="/" icon="fas fa-home">Dashboard</SidebarLink>
        <SidebarLink to="/" icon="fa-solid fa-clipboard">Open Cases</SidebarLink>
        <SidebarLink to="/" icon="fa-solid fa-briefcase">Live Cases</SidebarLink>
        <SidebarLink to="/" icon="fa-solid fa-user-group">Mentorship</SidebarLink>
        <SidebarLink to="/" icon="fa-solid fa-handshake">Microinternships</SidebarLink>
        <SidebarLink to="/" icon="fa-solid fa-medal">Case Competition</SidebarLink>
        <SidebarLink to="/surveys" icon="fa-solid fa-clipboard-list">Pending Surveys</SidebarLink>
        <span
            class="collapse-icon"
            @click="toggleSidebar"
        > 
            <i class="fas fa-angle-double-left"/>
        </span>
    </div>
</template>


<script>
import SidebarLink from './SidebarLink.vue'
import {collapsed, toggleSidebar, sidebarWidth} from './state'

export default {
    name: "SidebarBar",
    props:{},
    setup() {
        return {collapsed, toggleSidebar, sidebarWidth}
    },
    components: {
        SidebarLink
    }
}
</script>

<style>

:root{
    --sidebar-bg-color: #301c2a;
    --sidebar-item-hover: #38a169;
    --sidebar-item-active: #276749;
}

</style>


<style scoped>

.sidebar{
    color: white;
    background-color: var(--sidebar-bg-color);

    float: left;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0.5em;

    transition: 0.3s ease;
    display: flex;
    flex-direction: column;

}

h1{
    
    font-size: 20px;
}

h2{
    font: white;
    font-size: 20px;
}

.collapse-icon {
    position: absolute;
    bottom: 0;
    padding: 0.75em;

    color: #bba007;

    transition: 0.2s linear;

}

.rotate-180 {
    transform: rotate(180deg);
    transition: 0.2s, linear;
}

</style>