<template>
  <div id="app">
   
  </div>
  <router-view> </router-view>
  <Sidebar>
    <div :style="{ 'margin-left': sidebarWidth}">
      <router-view />
    </div>
  </Sidebar>
</template>


<script>
import Sidebar from './components/sidebar/sidebar.vue'
import {sidebarWidth} from './components/sidebar/state.js'
export default {
  components: {Sidebar},
  setup(){
    return {sidebarWidth}
  }
}
</script>




<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #1c1d1e;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
</style>
